<h1>Welcome, <%= @user.name %></h1>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading"><h2>User Info</h2></div>
    <div class="panel-body">
      <%= render partial: 'user_info' %>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading"><h2>Addresses</h2></div>
    <div class="panel-body">
      <%= render partial: 'addresses/multiple', locals: {addresses: @user.addresses} %>
      <%= link_to 'Add Address', new_address_path %>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading"><h2>Orders</h2></div>
    <div class="panel-body">
      <%= render partial: @user.orders %>
    </div>
  </div>
</div>




