<p>Date: <%= order.created_at.strftime('%d/%m/%Y') %></p>
<p>Status: <%= order.status %></p>
<p>Address: <%= order.shipping_address %></p>
<table class="table">
  <thead>
    <td>Item</td>
    <td>Quantity</td>
  </thead>
  <tbody>
    <% order.unique_items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= order.quantity(item.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
