<tr>
  <td><%= address.street_number %></td>
  <td><%= address.street_name %></td>
  <td><%= address.city %></td>
  <td><%= address.state %></td>
  <td><%= address.zip_code %></td>
  <td><%= link_to 'Edit', edit_address_path(address) %></td>
</tr>

