<h1>Listing addresses</h1>

<table>
  <thead>
    <tr>
      <th>Street name</th>
      <th>Street number</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.street_name %></td>
        <td><%= address.street_number %></td>
        <td><%= address.city %></td>
        <td><%= address.state %></td>
        <td><%= address.zip_code %></td>
        <td><%= link_to "Show", address %></td>
        <td><%= link_to "Edit", edit_address_path(address) %></td>
        <td><%= link_to "Destroy", address, method: :delete, id: "delete", data: { confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Address", new_address_path %>

