<div class="panel panel-default">
    <div class="panel-heading"><h2>Address</h2></div>
      <table class="table table-striped table-hover text-center">
        <thead>
          <tr>
            <th class="text-center">Street number</th>
              <th class="text-center">Street name</th>
              <th class="text-center">City</th>
              <th class="text-center">State</th>
              <th class="text-center">Zip Code</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><%= @address.street_number %></td>
              <td><%= @address.street_name %></td>
              <td><%= @address.city %></td>
              <td><%= @address.state %></td>
              <td><%= @address.zip_code %></td>
            </tr>
        </tbody>
      </table>
    </div>
</div>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
