<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><%=link_to 'About', '/about' %></li>
      <li role="presentation"><%=link_to 'Menu', items_path %></li>
      <% if current_user %>
        <li role="presentation"><%= link_to 'Logout', logout_path, id: 'logout', method: 'delete' %></li>

      <% else %>
        <li role="presentation"><%= link_to 'Login', login_path, id: 'login' %></li>
      <% end %>
      <li role="presentation"><a href='<%= cart_items_path %>'>
        <span class='glyphicon glyphicon-shopping-cart'></span>
        <span class="badge">42</span>
      </a></li>
    </ul>
  </nav>
  <h3 class="text-muted"><%= link_to 'EspressGo', root_path, id: 'logo' %></h3>
</div>



