<div class="header">
  <nav>
    <ul class="nav nav-pills pull-right">
      <li role="presentation"><%=link_to 'Menu', items_path %></li>
      <% if current_user %>
        <% if current_user.is_admin? %>
          <li role="presentation"><%= link_to 'Admin', rails_admin_path, id: 'admin' %></li>
        <% end %>
        <li role="presentation"><%= link_to 'User', user_path(current_user) %></li>
        <li role="presentation"><%= link_to 'Logout', logout_path, id: 'logout', method: 'delete' %></li>
      <% else %>
        <li role="presentation"><%= link_to 'Login', login_path, id: 'login' %></li>
        <li role="presentation"><%= link_to "Sign Up", new_user_path %></li>
      <% end %>
      <li role="presentation"><a href='<%= cart_items_path %>'>
        <span class='glyphicon glyphicon-shopping-cart'></span>
        <span class="badge"><%= @cart.count_total %></span>
      </a></li>
    </ul>
  </nav>
  <h3 class="text-muted"><%= link_to 'EspressGo', root_path, id: 'logo' %></h3>
</div>



