<!DOCTYPE html>
<html>
<head>
  <title>EspressGo</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/notices' %>
    <%= render 'layouts/header' %>
    <%= yield %>
  </div>
</body>
</html>
